body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f8f8f8;
  color: #222;
}
.headstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../imgs/7.jpg);
  background-size: cover;
  background-position: center;
  height: 95vh;
  color: #111;
  
}

.mensurations{
  font-size: 1.1rem;
  color: #111;
  font-weight: bold;
}
.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

}
.intro h1 { 
  font-size: 32px; 
}
.intro p { 
  font-size: 16px; 
}

nav {
  background: #111;
  line-height: 50px;
  text-align: center;
}
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}
#mensurations{
  color: #111;
  z-index: 3;
  width: 100%;
  height: 70%;
  
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.infos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  background: #0066cc;
  padding: 20px;
  border-radius: 8px;
}
.infos div {
  font-size: 15px;
  color: #fff;
}
a{
  color: #0066cc;
  text-decoration: none;
}
i{
  font-size: 30px;
}
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}